@import './components/about/about.scss';
@import './components/score/score.scss';
@import './components/settingsPage/settingsPage.scss';

html {
  font-size: 20px;
}

body {
  font-family: Roboto;
  font-style: normal;
  color: rgb(14, 13, 13);

  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 0 !important;
  width: 0 !important;
  overflow: hidden;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.container {
  width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.cover {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 10;
}
