.score-section {
  padding-top: 33px;
  .score-container {
    display: flex;
    justify-content: center;
  }

  .title {
    padding-left: 400px;
    margin-bottom: 30px;

    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #333333;
  }
}

.score-list {
  width: 600px;

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #333333;

    .name-container {
      display: flex;
      align-items: center;
    }

    .img {
      margin-right: 10px;

      border-radius: 50%;

      object-fit: contain;
      object-position: center;
    }

    .email {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.4px;
      color: #333333;
    }

    .rating {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .item + .item {
    margin-top: 10px;
  }

  .count {
    margin-left: 5px;

    color: #2196f3;
  }
}
